.deleteButtonOuter {
    display: flex;
    justify-content: right;
    align-items: center;
    width: fit-content;
    height: 2em;
}

.deleteButton {
    width: 16px;
    height: 16px;
    border: 0;
    background-color: #fff;
    background-image: url('../../../../images/elements/delete.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all .2s ease;
    cursor: pointer;
}